[문제123] 아래와 같은 모양의 표를 생성하세요. 
```
      PYTHON   R  SQL
2014      60  90   50
2015      80  65   75
2016      70  75   85
```
```python
from pandas import DataFrame

data = {'PYTHON':{2014:60, 2015:80, 2016:70}, 'R':{2014:90, 2015:65, 2016:75}, 'SQL':{2014:50, 2015:75, 2016:85}}
ann_score = DataFrame(data)
```
```python
# 선생님 답
frame = DataFrame({'PYTHON':[60, 80, 70], 'SQL':[50, 75, 85], 'R':[90, 65, 75]}, index = ['2014', '2015', '2016'])
```

[문제124] 'PYTHON' 열을 선택하세요
```python
ann_score['PYTHON']
```

[문제125] '2014' 행 정보를 출력하세요.
```python
ann_score.loc[2014]
```
```python
ann_score.ix[2014]
```
[문제126] 인덱스번호를 기준으로 1부터 2번까지 출력하세요.
```python
ann_score.iloc[1:3]
ann_score[1:3]
```
```python
ann_score.ix[1:3]
```
[문제127] PYTHON의 값을 기준으로 60보다 큰값을 가지고 있는 행 정보를 출력하세요.
```python
ann_score[ann_score['PYTHON']>60]
```
[문제128] PYTHON의 값을 기준으로 60 보다 큰값을 가지고 있는 PYTHON 정보만 출력하세요.
```python
ann_score['PYTHON'][ann_score['PYTHON']>60]
```
```python
ann_score.ix[ann_score['PYTHON']>60, 'PYTHON']
ann_score.ix[ann_score['PYTHON']>60, 0]
ann_score.loc[ann_score['PYTHON']>60, 'PYTHON']
```
[문제129] '2015' 행값 중에 PYTHON 정보만 출력하세요
```python
ann_score.loc[2015, 'PYTHON']
```
[문제130] '2015' 행값 중에 PYTHON, R 정보 출력하세요 
```python
ann_score.loc[2015, ['PYTHON', 'R']]
```
```python
ann_score.ix[2015, ['PYTHON', 'R']]
```
[문제131] 'R' 열 정보를 출력하세요.
```python
ann_score['R']
```
```python
ann_score.ix[:, 'R']
ann_score.loc[:, 'R']
```
[문제132]PYTHON 점수가 80 이상 또는 SQL 점수가 90 이상인 데이터 출력하세요.
```python
ann_score[(ann_score['PYTHON']>=80)|(ann_score['SQL']>=90)]
```

[문제133] PYTHON 점수가 80 이상 이고 SQL 점수 90 이상인 데이터 출력하세요.
```python
ann_score[(ann_score['PYTHON']>=80)&(ann_score['SQL']>=90)]
```

[문제134] 직업이 ST_CLERK인 사원의 LAST_NAME, SALARY, JOB_ID를 출력해주세요.
```python
import pandas as pd
emp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp_new.csv')
emp[emp.JOB_ID=='ST_CLERK'][['LAST_NAME', 'SALARY', 'JOB_ID']]
```

## pandas
```python
import pandas as pd
from pandas import Series, DataFrame
```
-  ### reindex()
    -  fill_value : NaN 값을 해당 값으로 채움
        ```python
        obj = Series([10,20,30,40], index=['c','d','a','b'])
        obj2 = obj.reindex(['a','b','c','d','f'], fill_value=0)
        obj2
        ```
        ```
        a    30
        b    40
        c    10
        d    20
        f     0
        dtype: int64
        ```

- ### drop()
    -  해당 인덱스의 값을 삭제
    -  `객체.drop(인덱스)`
        ```python
        obj2[5] = 'sql'
        obj = Series(np.arange(5), index=['a','b','c','d','e'])

        obj = obj.drop('e')
        obj = obj.drop(['c','d']) # 여러개의 인덱스는 리스트로
        obj
        ```
        ```
        a    0
        b    1
        dtype: int32
        ```

## numpy
- ### arange()
    -  정해진 구간의 수열 리턴
    -  `numpy.arange(구간)`
        ```python
        import numpy as np
        np.arange(4)
        ```
        ```
        array([0, 1, 2, 3])
        ```

- ### reshape()
    -  수열을 지정한 형태의 행렬로 변환
    -  `수열.reshape(행,열)`
        ```python
        np.arange(12).reshape(3,4)
        ```
        ```
        array([[ 0,  1,  2,  3],
               [ 4,  5,  6,  7],
               [ 8,  9, 10, 11]])
        ```
    -  method: NaN 값을 채워주는 옵션
        -  ffill / pad : NaN을 그 앞 행의 값으로 채움
            ```python
            df3 = df.reindex(['a','b','c','d'], method = 'ffill')
            df3
            ```
            ```
            	x	y	z
            a	0	1	2
            b	3	4	5
            c	6	7	8
            d	6	7	8
            ```
            ---
            ```python
            obj = Series(['sql','r','python'], index=[0, 2, 4])
            obj2 = obj.reindex(range(6), method = 'pad')
            obj2
            ```
            ```
            0       sql
            1       sql
            2         r
            3         r
            4    python
            5    python
            dtype: object
            ```
        -  bfill / backfill : NaN을 그 뒤 행의 값으로 채움
            ```python
            obj2 = obj.reindex(range(6), method = 'bfill')
            obj2
            ```
            ```
            0       sql
            1         r
            2         r
            3    python
            4    python
            5       NaN
            dtype: object
            ```
            ---
            ```python
            obj2 = obj.reindex(range(6), method = 'backfill')
            obj2
            ```
            ```
            0       sql
            1         r
            2         r
            3    python
            4    python
            5       NaN
            dtype: object
            ```

- ### drop()
    -  지정한 값과 일치하는 행렬의 행이나 열을 삭제
    -  `객체.drop(값, axis=축선택)`
        -  축: 0(행), 1(열)
    ```python
    df = DataFrame(np.arange(16).reshape(4,4), index=['w','x','y','z'], columns=['one','two', 'three','four'])
    df = df.drop('x',axis=0) 
    df = df.drop('four', axis=1)
    df = df.drop(['w','y'], axis=0)
    df = df.drop(['one','two'], axis=1)
    df
    ```
    ```
    	three
    z	14
    ```

# indexing
-  Series
    -  `Series[인덱스명]`
        ```python
        obj = Series([10, 20,30,40], index =['a','b','c','d'])
        obj['a']
        ```
        ```
        10
        ```
        ---
        ```python
        obj['b':'c']
        ```
        ```
        b    20
        c    30
        dtype: int64
        ```
        ---
        ```python
        obj[['a','c']]
        ```
        ```
        a    10
        c    30
        dtype: int64
        ```
    -  `Series[위치]`
        ```python
        obj[0]
        ```
        ```
        10
        ```
        ---
        ```python
        obj[1:3]
        ```
        ```
        b    20
        c    30
        dtype: int64
        ```
        ---
        ```python
        obj[[0,2]]
        ```
        ```
        a    10
        c    30
        dtype: int64
        ```
    -  `Series[조건]`
        ```python
        obj[obj<30]
        ```
        ```
        a    10
        b    20
        dtype: int64
        ```

# indexing
-  DataFrame
    -  `DataFrame[컬럼명]`
        ```python
        df = DataFrame(np.arange(16).reshape(4,4), 
                       index=['w', 'x','y','z'], 
                       columns=['one','two', 'three','four'])
        df['one']
        ```
        ```
        w     0
        x     4
        y     8
        z    12
        Name: one, dtype: int32
        ```
        ---
        ```python
        df[['one','two']]
        ```
        ```
        	one	two
        w	0	1
        x	4	5
        y	8	9
        z	12	13
        ```
    -  `DataFrame[위치]`
        ```python
        df[2:]
        ```
        ```
        	one	two	three	four
        y	8	9	10	11
        z	12	13	14	15
        ```
    -  `DataFrame[조건]`
        ```python
        df[df<5]
        ```
        ```
            one	two	three	four
        w	0.0	1.0	2.0	3.0
        x	4.0	NaN	NaN	NaN
        y	NaN	NaN	NaN	NaN
        z	NaN	NaN	NaN	NaN
        ```
        ---
        ```python
        df[df['one']<5]
        ```
        ```
            one	two	three	four
        w	0	1	2	3
        x	4	5	6	7
        ```
    -  `DataFrame.ix[인덱스명(인덱스위치)]`
        ```python
        df.ix['x']
        ```
        ```
        one      4
        two      5
        three    6
        four     7
        Name: x, dtype: int32
        ```
        ---
        ```python
        df.ix[0]
        ```
        ```
        one      0
        two      1
        three    2
        four     3
        Name: w, dtype: int32
        ```
    -  `DataFrame.ix[인덱스명(위치), 컬럼명(위치)]`
        ```python
        df.ix[['x','y'], [0, 1]]
        ```
        ```
            one	two
        x	4	5
        y	8	9
        ```
    -  `DataFrame.loc[인덱스명]`
        ```python
        df.loc['x']
        ```
        ```
        one      4
        two      5
        three    6
        four     7
        Name: x, dtype: int32
        ```
    -  `DataFrame.iloc[인덱스위치]`
        ```python
        df.iloc[0]
        ```
        ```
        one      0
        two      1
        three    2
        four     3
        Name: w, dtype: int32
        ```

# DataFrame 데이터 조작
-  데이터 추가
    -  `DataFrame.at[인덱스, 컬럼] = 값`
        ```python
        data = {'PYTHON':{2014:60, 2015:80, 2016:70}, 'R':{2014:90, 2015:65, 2016:75}, 'SQL':{2014:50, 2015:75, 2016:85}}
        ann_score = DataFrame(data)
        ann_score.at[2013, 'PYTHON'] = 70
        ann_score.at[2013, 'SQL'] = 90
        ann_score.at[2013, 'R'] = 85
        ann_score
        ```
        ```
                PYTHON	R	SQL
        2014	60.0	90.0	50.0
        2015	80.0	65.0	75.0
        2016	70.0	75.0	85.0
        2013	70.0	85.0	90.0
        ```
    -  `DataFrame.set_value(인덱스, 컬럼, 값)`
        -  곧 없어질 함수
        ```python
        ann_score.set_value(2013, 'PYTHON', 70)
        ann_score.set_value(2013, 'SQL', 90)
        ann_score.set_value(2013, 'R', 85)
        ```
        
-  행 삭제
    -  `DataFrame.drop(인덱스/컬럼, axis=축)`
        -  인덱스 삭제: axis=0
        -  컬럼 삭제: axis=1
        ```python
        ann_score = ann_score.drop(2013)
        ```

## pandas
### read_csv()
-  csv파일을 읽어오는 함수
-  pd.read_csv(파일경로)
-  dtypes
    -  읽어온 csv의 컬럼에 대한 정보 확인
    ```python
    import pandas as pd
    emp = pd.read_csv('C:/Users/stu/git/DA_Academy/emp_new.csv')
    emp.dtypes
    ```
    ```
    EMPLOYEE_ID         int64
    FIRST_NAME         object
    LAST_NAME          object
    EMAIL              object
    PHONE_NUMBER       object
    HIRE_DATE           int64
    JOB_ID             object
    SALARY              int64
    COMMISSION_PCT    float64
    MANAGER_ID        float64
    DEPARTMENT_ID     float64
    dtype: object
    ```
-  인덱싱
    -  `CSV.컬럼명`
        ```python
        emp[emp.EMPLOYEE_ID == 100].SALARY
        ```
        ```
        9    29040
        Name: SALARY, dtype: int64
        ```

### info()
-  객체가 가진 데이터의 구조 확인 *r의 str()과 유사*
    ```python
    emp.info()
    ```
    ```
    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 107 entries, 0 to 106
    Data columns (total 11 columns):
    EMPLOYEE_ID       107 non-null int64
    FIRST_NAME        107 non-null object
    LAST_NAME         107 non-null object
    EMAIL             107 non-null object
    PHONE_NUMBER      107 non-null object
    HIRE_DATE         107 non-null int64
    JOB_ID            107 non-null object
    SALARY            107 non-null int64
    COMMISSION_PCT    35 non-null float64
    MANAGER_ID        106 non-null float64
    DEPARTMENT_ID     106 non-null float64
    dtypes: float64(3), int64(3), object(5)
    memory usage: 9.3+ KB
    ```

### append()
-  DataFrame 연결
    ```python
    student = DataFrame([[60, 80, 70], [50, 70, 85], [90, 80, 95]], 
                    index=['홍길동', '박찬호','손흥민'], 
                    columns=['영어', '수학','국어'])

    student_new = DataFrame([[60, 80, 70], [50, 75, 85], [90,80, 85]], 
                            index = ['윤건', '김건모', '이문세'], 
                            columns=['영어', '수학', '국어'])

    student = student.append(student_new)
    ```

### concat()
-  DataFrame 연결
-  `pandas.concat(객체1, 객체2)`
    ```python
    student = pd.concat([student, student1])
    ```

### rename()
-  인덱스/컬럼 명 변경
-  `DataFrame.rename(index = {인덱스명:바꿀인덱스명}, columns={컬럼명:바꿀컬럼명})`
    ```python
    student = student.rename(index = {'윤상':'김상'})
    ```
    ```python
    student = student.rename(columns = {'과학':'물리'})
    ```

# Series 연산
-  ### add()
    -  두 Series를 더함, NaN값은 지정한 값으로 채움
    -  `S1.add(S2, fill_value=채울값)
        ```python
        obj1.add(obj2, fill_value = 0)
        ```
-  ### sub()
    -  두 Series를 뺌, NaN값은 지정한 값으로 채움
    -  `S1.sub(S2, fill_value=채울값)
        ```python
        obj1.sub(obj2, fill_value = 0)
        ```
-  ### mul()
    -  두 Series를 곱함, NaN값은 지정한 값으로 채움
    -  `S1.mul(S2, fill_value=채울값)
        ```python
        obj1.mul(obj2, fill_value = 1)
        ```
-  ### div()
    -  두 Series를 나눔, NaN값은 지정한 값으로 채움
    -  `S1.div(S2, fill_value=채울값)
        ```python
        obj1.div(obj2, fill_value = 1)
        ```

# 브로드캐스팅(broadcasting)
-  서로 다른 차원을 가진 행렬끼리의 연산이 가능하도록 작은 행렬을 큰 행렬의 차원에 맞도록 반복하여 행렬의 차원을 일치시키는 방법
-  작은 차원의 n배가 큰 차원과 일치할 때만 작동함
    ```python
    # 수동 브로드캐스팅
    obj1 = np.arange(15).reshape(5,3)
    obj2 = np.arange(3)
    obj1 + obj2.repeat(5).reshape(3,5).T
    ```
    ```
    array([[ 0,  2,  4],
       [ 3,  5,  7],
       [ 6,  8, 10],
       [ 9, 11, 13],
       [12, 14, 16]])
    ```

# 정렬
### sort_index()
-  index 기준 오름차순 정렬
-  객체.sort_index(ascending=오름차순여부, axis=축)
-  축: 0(row), 1(column)
    ```python
    df = DataFrame(np.arange(8).reshape(2, 4), 
                   index=['two', 'one'], 
                   columns=['d','a','c','b'])
    
    df.sort_index(ascending=False, axis=1)
    ```
    ```
    	d	c	b	a
    two	0	2	3	1
    one	4	6	7	5
    ```
    
### sort_values()
-  value 기준 오름차순 정렬
-  객체.sort_values(ascending=오름차순여부, by = 기준, axis=축)
-  축: 0(row), 1(column)
    ```python
    df.sort_values(by = 'b', axis=0, ascending=False)
    ```
    ```
        d	a	c	b
    one	4	5	6	7
    two	0	1	2	3
    ```